@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  background-color: #f5f5f5;
  background: var(--color-dark);
  height: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.wrap {
  margin-top: -3rem;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-left: -3rem;
}

.search .searchTerm {
  width: 16rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: lighter;
  padding-left: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search .searchButton {
  width: 6rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: lighter;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #16a085;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

/* our temp card css start */

.width {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
  width: 38rem;
  height: 25rem;
  background-color: #fff;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  margin-left: -2rem;
}

.width .weatherIcon {
  width: 100%;
  height: 30%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.width .weatherInfovsDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.weatherInfovsDate .weatherInfo {
  display: flex;
  align-items: center;
  width: 70%;
  height: 9rem;
  gap: 2rem;
  background-color: #000;
}

.weatherInfovsDate .weatherInfo .temperature {
  font-size: 4rem;
  margin-left: 1rem;
  color: #fff;
}

.weatherInfovsDate .weatherInfo .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.weatherInfo .description .weatherCondition {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.weatherInfo .description .place {
  text-transform: capitalize;
}

.weatherInfovsDate .date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.9rem;
  width: 30%;
  height: 9rem;
  background-color: #1abc9c;
  color: #fff;
}

.width .extra-temp {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.extra-temp .temp-info-minmax {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.temp-info-minmax .two-sided-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 4rem;
}

.two-sided-section i {
  font-size: 1.5rem;
  color: #1abc9c;
}

.two-sided-section .extra-info-leftside {
  font-weight: 600;
}

.extra-temp .weather-extra-info {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.weather-extra-info .two-sided-section {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
