* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #130f40;
}

:root {
  --text-color: #535c68;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div .child-div {
  width: 30%;
  height: 50vh;
  margin: 5rem 5rem 5rem 7rem;
}

.child-div figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.child-div img {
  width: 24%;
  height: 37%;
}

.child-div figcaption {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
}

.main-div .addItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.addItems .form-control {
  width: 22rem;
  height: 2.3rem;
  padding-left: 0.5rem;
  background-color: #fff;
  color: var(--text-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.addItems i {
  margin-left: -1.4rem;
  background-color: #fff;
  color: var(--text-color);
}

.child-div .showItems {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.child-div .showItems .btn.effect04 {
  position: relative;
  width: 9rem;
  height: 2.5rem;
  background-color: #fff;
  cursor: pointer;
}

.showItems span {
  font-weight: lighter;
  letter-spacing: 1px;
}

.child-div .showItems .btn.effect04 span {
  font-size: 0.8rem;
  background-color: #fff;
}

.child-div .showItems .btn.effect04:hover {
  transition: all 0.3s;
  background-color: #1b1464;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.child-div .showItems .btn.effect04:hover span {
  opacity: 0;
}

.child-div .showItems .btn.effect04::after {
  content: attr(data-sm-link-text);
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  text-transform: uppercase;
}

.child-div .showItems .btn.effect04:hover::after {
  opacity: 1;
  color: #fff;
}
