* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: grey;
}

.main-card--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem;
}

.card-container {
  width: 30%; /* roughly 3 cards per row */
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  margin: 1rem;
}

.card .card-body {
  padding: 1rem 2rem 1rem 1rem;
}

.card-body .card-read {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

.card-body .card-read .line {
  width: 20rem;
  height: 2px;
  background-color: var(--text-color);
}

.card-body .card-read .read-text {
  font-weight: lighter;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-body .card-number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--text-color);
  display: grid;
  place-items: center;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.card .card-body .card-author {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.card .card-body .card-title {
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

.card .card-body .card-description {
  color: var(--text-color);
}

.card-container .card .card-media {
  width: 95%;
  height: 45%;
  object-fit: cover;
  padding: 1rem;
}

.card-container .card .card-tag {
  width: 20%;
  height: 23px;
  margin-bottom: 1rem;
  display: grid;
  justify-items: center;
  margin-left: 20rem;
  border: 2px solid grey;
  color: var(--text-color);
  cursor: pointer;
}
