* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: grey;
}

.main-card--container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around; /* or space-around */
  padding: 2rem;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}

.card-body {
  position: absolute;
  padding: 1rem;
  width: 30%;
  height: 40vh;
}

.card-body .card-read {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

.card-body .card-read .line {
  width: 20rem;
  height: 2px;
  background-color: var(--text-color);
}

.card-body .card-read .read-text {
  font-weight: lighter;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-media {
  width: 30%;
  height: 25%;
  object-fit: cover;
  padding: 1rem;
}

.card .card-tag {
  width: 5%;
  height: 23px;
  margin-left: 23rem;
  border: 2px solid grey;
  color: var(--text-color);
  background-color: #fff;
}

.card-body .card-number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--text-color);
  display: grid;
  place-items: center;
  color: var(--text-color);
}

.card .card-body .card-author {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
  color: var(--text-color);
}

.card .card-body .card-title {
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: lighter;
}

.card .card-body .card-description {
  width: 100%;
  color: var(--text-color);
}
